{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ post.title }}{% endblock title %}
{% block description %}{{ post.subtitle }}{% endblock description %}

{% block heading %}post-heading{% endblock heading %}
{% block header_img %}{{ post.image.url }}{% endblock header_img %}
{% block h1 %}{{ post.title }}{% endblock h1 %}
{% block h2 %}{{ post.subtitle }}{% endblock h2 %}
{% block page_header_extra_content %}
    <span class="meta">Posted {{ post.created | naturalday}}</span>
{% endblock page_header_extra_content %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ post.body | safe }}
            </div>
        </div>
    </div>
{% endblock content %}
