{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{% endblock title %} | {{ SITE_NAME }}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="author" content="{{ AUTHOR_NAME }}">
        <meta name="googlebot" content="index, follow"/>
        <meta name="robots" content="index, follow"/>

        {% include "djtools/seo/google_analytics.html" %}

        <link rel="icon" href="{{ SITE_URL }}{% static "img/logos/favicon.ico" %}">

        <link href="{{ SITE_URL }}{% static "vendor/bootstrap/css/bootstrap.min.css"  %}" rel="stylesheet">
        <link href="{{ SITE_URL }}{% static "css/clean-blog.css" %}" rel="stylesheet">
        <link href="{{ SITE_URL }}{% static "vendor/font-awesome/css/font-awesome.min.css"  %}" rel="stylesheet" type="text/css">
        <link href="{{ SITE_URL }}{% static "css/custom.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">

        {% block css %}{% endblock css %}
    </head>
    <body>
        {# Navigation #}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}" title="{{ SITE_NAME }}">
                    {% include "logo.html" %}
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITE_URL }}{% url 'home' %}" title="Python Django freelance developer">Home</a>
                        </li>
                        {% if FLAGS.SERVICES_ENABLED %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ SITE_URL }}{% url 'services:list' %}" title="What is Django used for?">Services</a>
                            </li>
                        {% endif %}
                        {% if FLAGS.PROJECTS_ENABLED %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ SITE_URL }}{% url 'projects:list' %}" title="{# TODO #}">Projects</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITE_URL }}{% url 'blog:list' %}" title="Toni Colom's blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITE_URL }}{% url 'contact' %}" title="Work with a Python Django freelance software engineer">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {# Page Header #}
        {% block page_header %}
            <header class="masthead"{% if not without_header_img %} style="background-image: url('{% block header_img %}{% endblock header_img %}')"{% endif %}>
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <div class="{% block heading %}site-heading{% endblock heading %}">
                                <h1>{% block h1 %}{% endblock h1 %}</h1>
                                <h2 class="subheading">{% block h2 %}{% endblock h2 %}</h2>
                                {% block page_header_extra_content %}{% endblock page_header_extra_content %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock page_header %}

        {# Content #}
        {% block content %}{% endblock content %}
        <hr>

        {# Footer #}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {% include "djtools/socialnetworks/social_networks.html" %}
                        <p class="copyright text-muted">Copyright &copy; {{ SITE_NAME }} {% now "Y" %}</p>
                    </div>
                </div>
            </div>
        </footer>

        {# Bootstrap core JavaScript #}
        <script src="{{ SITE_URL }}{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{{ SITE_URL }}{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

        <script>
            $(".linkbox").click(function() {
              window.location = $(this).find("a").attr("href");
              return false;
            });
        </script>

        {% block javascript %}{% endblock javascript %}
    </body>
</html>
