{% extends "base.html" %}
{% load humanize static %}

{% block title %}API, app and web developer with Python and Django{% endblock title %}
{% block description %}Fullstack freelance developer for APIs, apps and webs with Python and Django.{% endblock description %}

{% block header_img %}{% static "img/home-bg.jpg" %}{% endblock header_img %}
{% block h1 %}I develop <span class="typed"></span>{% endblock h1 %}

{% block content %}
    {% if last_post %}
        {# Last Post #}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' last_post.slug %}">
                            <h2 class="post-title">{{ last_post.title }}</h2>
                            <p class="post-subtitle">{{ last_post.subtitle }}</p>
                        </a>
                        <p class="post-meta">Posted {{ last_post.created | naturalday }}</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script type="text/javascript">
        var options = {
            strings: ["APIs", "Apps", "Webs"],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true,
        }

        var typed = new Typed(".typed", options);
    </script>
{% endblock javascript %}