{% extends "base.html" %}
{% load humanize static %}

{% block title %}Toni Colom, Python Django freelance developer{% endblock title %}
{% block description %}APIs, apps and webs development with Python and Django{% endblock description %}

{% block header_img %}{% static "img/home-bg.jpg" %}{% endblock header_img %}
{% block h1 %}I develop<br><span class="typed"></span>{% endblock h1 %}

{% block content %}
    <div id="home" class="container">
        {% if FLAGS.SERVICES_ENABLED and featured_services %}
            <h2 class="text-center mb-5">Services</h2>
            <div class="row">
                {% for service in featured_services %}
                    <div class="col-sm-12 col-md-4 service">
                        <div class="service-icon">
                            <i class="fas fa-{{ service.icon }}"></i>
                        </div>
                        <a class="title" href="{{ SITE_URL }}{% url 'services:detail' service.slug %}" title="{{ service.title }}">{{ service.title }}</a>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-offset-6 col-12 text-center">
                    <a class="btn btn-primary" href="{{ SITE_URL }}{% url 'services:list' %}" title="What is Django used for?">See more services</a>
                </div>
            </div>
            <br>
            <hr>
            <br>
        {% endif %}

        {% if FLAGS.PROJECTS_ENABLED and featured_projects %}
            <h2 class="text-center mb-5">Projects</h2>
            <div class="row">
                {% for project in featured_projects %}
                    <div class="col-sm-12 col-md-4 project">
                        {% if project.thumbnail %}
                            <img class="img-fluid mb-2" src="{{ project.thumbnail.url }}" alt="Logo {{ project.title }}">
                        {% endif %}
                        <a class="title" href="{{ SITE_URL }}{% url 'projects:detail' project.slug %}" title="{{ project.title }}">{{ project.title }}</a>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="row">
                <div class="col-offset-6 col-12 text-center">
                    <a class="btn btn-primary" href="{{ SITE_URL }}{% url 'projects:list' %}" title="Python Django freelance projects">See more projects</a>
                </div>
            </div>
            <br>
            <hr>
            <br>
        {% endif %}

        {% if last_post %}
            <h2 class="text-center">Newest post</h2>
            <div class="row">
                <div class="col-12">
                    <div class="post-preview">
                        <a href="{{ SITE_URL }}{% url 'blog:detail' last_post.slug %}">
                            <h3 class="post-title">{{ last_post.title }}</h3>
                            <p class="post-subtitle">{{ last_post.subtitle }}</p>
                        </a>
                        <p class="post-meta">Posted {{ last_post.created | naturalday }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-offset-6 col-12 text-center">
                    <a class="btn btn-primary" href="{{ SITE_URL }}{% url 'blog:list' %}" title="Toni Colom's blog">Go to blog</a>
                </div>
            </div>
            <br>
        {% endif %}
     </div>
{% endblock content %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script type="text/javascript">
        var options = {
            strings: ["APIs", "Apps", "Webs"],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true,
        }

        var typed = new Typed(".typed", options);
    </script>
{% endblock javascript %}
