{% extends "base.html" %}
{% load humanize static %}

{% block title %}Toni Colom, Python Django freelance developer{% endblock title %}
{% block description %}APIs, apps and webs development with Python and Django{% endblock description %}

{% block header_img %}{% static "img/home-bg.jpg" %}{% endblock header_img %}
{% block h1 %}I develop<br><span class="typed"></span>{% endblock h1 %}

{% block content %}
    <div id="home" class="container">
        {% if featured_services %}
            <h2 class="text-center">Services</h2>
            <div class="row">
                {% for service in featured_services %}
                    <div class="col-sm-12 col-md-4 service">
                        <div class="service-icon">
                            <i class="fas fa-{{ service.icon }}"></i>
                        </div>
                        <div class="service-text">
                            <h2>{{ service.title }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <hr>
            <br>
        {% endif %}

        {% if last_post %}
            <h2 class="text-center">Newest post</h2>
            <div class="row">
                <div class="col-12">
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' last_post.slug %}">
                            <h3 class="post-title">{{ last_post.title }}</h3>
                            <p class="post-subtitle">{{ last_post.subtitle }}</p>
                        </a>
                        <p class="post-meta">Posted {{ last_post.created | naturalday }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
     </div>
{% endblock content %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script type="text/javascript">
        var options = {
            strings: ["APIs", "Apps", "Webs"],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true,
        }

        var typed = new Typed(".typed", options);
    </script>
{% endblock javascript %}
