{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}
{% block description %}{{ object.subtitle }}{% endblock description %}

{% block header_img %}{# TODO #}{% endblock header_img %}
{% block h1 %}{{ object.title }}{% endblock h1 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ object.description | safe }}
            </div>
        </div>
    </div>
{% endblock content %}
