{% extends "base.html" %}

{% block title %}{{ service.title }}{% endblock title %}
{% block description %}{{ service.subtitle }}{% endblock description %}

{% block header_img %}{% if service.photo %}{{ service.photo.url }}{% endif %}{% endblock header_img %}
{% block h1 %}{{ service.title }}{% endblock h1 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mb-5">
                {{ service.description | safe }}
            </div>
            <div class="col-12 col-md-4 mb-5">
                <div class="row">
                    {% if projects %}
                        <div class="col-12 mb-5">
                            <h3 class="mb-4">Projects</h3>
                            {% for projects in projects %}
                                <div class="mb-3">
                                    <a href="{% url 'projects:detail' projects.slug %}" title="{{ project.title }}, a project build with Python and Django">{{ projects.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if other_services %}
                        <div class="col-12">
                            <h3 class="mb-4">Other services</h3>
                            {% for other_service in other_services %}
                                <div class="mb-3">
                                    <i class="fa fa-{{ other_service.icon }}"></i>
                                    <a href="{% url 'services:detail' other_service.slug %}" title="{{ other_service.title }}">{{ other_service.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-offset-6 col-12 text-center mb-5">
                <a class="btn btn-primary" href="{{ SITE_URL }}{% url 'contact' %}" title="Work with a Python Django freelance software engineer">Contact me</a>
            </div>
        </div>
    </div>
{% endblock content %}
