{% extends "base.html" %}
{% load humanize static %}

{% block html_lang %}en{% endblock html_lang %}

{% block title %}Toni Colom's blog{% endblock title %}
{% block description %}Blog where you can find tutorials and solve problems about Django, Python and web development.{% endblock description %}

{% block header_img %}{% static "img/blog-bg.jpg" %}{% endblock header_img %}
{% block h1 %}Blog{% endblock h1 %}
{% block h2 %}Web development with Django & Python{% endblock h2 %}

{% block content %}
    {# Post List #}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in post_list %}
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' post.slug %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="post-meta">Posted {{ post.created | naturalday }}</p>
                    </div>
                    <hr>
                {% endfor %}

                {% comment %}
                    <!-- Pager -->
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                    </div>
                {% endcomment %}
            </div>
        </div>
    </div>
{% endblock content %}
