/* Menu */
#mainNav .navbar-brand svg {
    height: 22px;
    fill: #393E43;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 14px;
    margin-bottom: 5px;
}

/* Menu Responsive */
@media only screen and (min-width: 992px) {
    #mainNav .navbar-brand svg {
        fill: white;
    }

    #mainNav.is-visible .navbar-brand svg {
        fill: #393E43;
    }

    #mainNav .navbar-nav > li.nav-item > a {
        margin-bottom: 0px;
    }
}

/* Home */
#home .post-title {
  font-size: 28px;
}

/* Contact */
#contact_map {
    height: 580px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info .contact-info-section {
    margin-bottom: 10px;
}

.contact-info .contact-info-section i {
    width: 30px;
    text-align: center;
}

.contact-info .contact-info-section span {
    display: inline-table;
}

/* Services */
.service {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.service:hover {
  cursor: pointer;
}

.service h2 {
  font-size: 20px;
}

.service .service-icon {
    margin-bottom: 10px;
}

.service i{
  padding: 20px;
  border-radius: 100px;
  font-size: 60px;
}

.service:hover i {
  color: #fff;
  background-color: #393E43;
}
