Package    Version Latest Type
---------- ------- ------ -----
bpython    0.20.1  0.21   wheel
curtsies   0.3.4   0.3.10 sdist
Django     2.2.24  3.2.8  wheel
gevent     20.9.0  21.8.0 wheel
psycopg2   2.8.6   2.9.1  sdist
setuptools 58.0.4  58.2.0 wheel
