blessings==1.6
bpython==0.16
certifi==2017.11.5
chardet==3.0.4
curtsies==0.2.11
Django==2.0
django-ckeditor==5.3.1
django-extensions==1.9.8
django-js-asset==0.1.1
greenlet==0.4.12
idna==2.6
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
six==1.11.0
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
