{% extends "base.html" %}
{% load humanize static %}

{% block title %}Desarrollo de Webs, Apps & APIs en Palma de Mallorca{% endblock title %}
{% block description %}Desarrollador fullstack freelance para webs, apps y APIs en Palma de Mallorca.{% endblock description %}

{% block header_img %}{% static "img/home-bg.jpg" %}{% endblock header_img %}
{% block h1 %}semicolom;{% endblock h1 %}
{% block h2 %}Desarrollo de Webs, Apps & APIs{% endblock h2 %}

{% block content %}
    {% if last_post %}
        {# Last Post #}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' last_post.slug %}">
                            <h2 class="post-title">{{ last_post.title }}</h2>
                            <p class="post-subtitle">{{ last_post.subtitle }}</p>
                        </a>
                        <p class="post-meta">Posted {{ last_post.created | naturalday }}</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
